<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../static/admin/assets/img/favicon.png" th:href="@{/admin/assets/img/favicon.png}" rel="icon">
  <link href="../../static/admin/admin/assets/img/apple-touch-icon.png" th:href="@{/admin/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/admin/assets/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/admin/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link href="../../static/admin/assets/vendor/bootstrap-icons/bootstrap-icons.css" th:href="@{/admin/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link href="../../static/admin/assets/vendor/boxicons/css/boxicons.min.css" th:href="@{/admin/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link href="../../static/admin/assets/vendor/quill/quill.snow.css" th:href="@{/admin/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link href="../../static/admin/assets/vendor/quill/quill.bubble.css" th:href="@{/admin/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link href="../../static/admin/assets/vendor/remixicon/remixicon.css" th:href="@{/admin/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link href="../../static/admin/assets/vendor/simple-datatables/style.css" th:href="@{/admin/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/admin/assets/css/style.css" th:href="@{/admin/assets/css/style.css}" rel="stylesheet">

  <script src="../../static/admin/assets/vendor/apexcharts/apexcharts.min.js" th:src="@{/admin/assets/vendor/apexcharts/apexcharts.min.js}" ></script>
  <script src="../../static/admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}" ></script>
  <script src="../../static/admin/assets/vendor/chart.js/chart.min.js" th:src="@{/admin/assets/vendor/chart.js/chart.min.js}" ></script>
  <script src="../../static/admin/assets/vendor/echarts/echarts.min.js" th:src="@{/admin/assets/vendor/echarts/echarts.min.js}" ></script>
  <script src="../../static/admin/assets/vendor/quill/quill.min.js" th:src="@{/admin/assets/vendor/quill/quill.min.js}" ></script>
  <script src="../../static/admin/assets/vendor/simple-datatables/simple-datatables.js" th:src="@{/admin/assets/vendor/simple-datatables/simple-datatables.js}" ></script>
  <script src="../../static/admin/assets/vendor/tinymce/tinymce.min.js" th:src="@{/admin/assets/vendor/tinymce/tinymce.min.js}" ></script>


</head>
<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
  <script src="../../static/js/nav.js" th:src="@{/js/nav.js}" onload="getMyStudies()"></script>
  <div class="d-flex align-items-center justify-content-between">
    <i class="bi bi-list w-auto toggle-sidebar-btn text-black m-3"></i>
    <a class="navbar-brand text-black" href="/">Hi-Recorder</a>
  </div><!-- End Logo -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-black" href="#" onclick="goLogout()">로그아웃</a></li>
      <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-black" href="/">스터디 메인</a></li>
      <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-black" href="/study/myStudy">마이 페이지</a></li>
      <li class="nav-item py-3 px-lg-3 py-lg-3 dropdown">
        <a class="nav-link dropdown-toggle text-black" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          내 스터디
        </a>
        <!-- Dropdown menu -->
        <ul class="dropdown-menu dropdown-menu-end" id="myStudyDropDown" style="z-index: 1" aria-labelledby="navbarDropdown">
        </ul>
      </li>
    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar" style="z-index: 1">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/admin/adminMain">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#member-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>management</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="member-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="admin-apply.html" th:href="@{${#httpServletRequest.requestURI + '/applyList'}}">
            <i class="bi bi-circle"></i><span>신청관리</span>
          </a>
        </li>
        <li>
          <a href="admin-member.html" th:href="@{${#httpServletRequest.requestURI + '/memberList'}}">
            <i class="bi bi-circle"></i><span>회원관리</span>
          </a>
        </li>
      </ul>
    </li><!-- End Forms Nav -->


  </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

  <div class="pagetitle">
    <h1 th:text="${studyName}"></h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">

          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">

              <div class="card-body">
                <h5 class="card-title">게시글 수 <span>| Total</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-journal-text"></i>
                  </div>
                  <div class="ps-3">
                    <h6 th:text="${boardCount}"></h6>

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Sales Card -->

          <!-- Revenue Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">

              <div class="card-body">
                <h5 class="card-title">전체 조회수 <span>| Total</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-search"></i>
                  </div>
                  <div class="ps-3">
                    <h6 th:text="${countViewCnt}"></h6>

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Revenue Card -->

          <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-12">

            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">스터디원 <span>| Total</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6 th:text="${currentMember + '/' + totalMember}"></h6>
                  </div>
                </div>

              </div>
            </div>

          </div><!-- End Customers Card -->

          <!-- Reports -->
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Reports <span>/Week</span></h5>

                <!-- Line Chart -->
                <div id="reportsChart"></div>

                <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    new ApexCharts(document.querySelector("#reportsChart"), {
                      series: [{
                        name: '게시글 수',
                        data: [31, 40, 28, 51, 42, 82, 56],
                      }, {
                        name: '전체 조회수',
                        data: [11, 32, 45, 32, 34, 52, 41]
                      }, {
                        name: '스터디원',
                        data: [15, 11, 32, 18, 9, 24, 11]
                      }],
                      chart: {
                        height: 350,
                        type: 'area',
                        toolbar: {
                          show: false
                        },
                      },
                      markers: {
                        size: 4
                      },
                      colors: ['#4154f1', '#2eca6a', '#ff771d'],
                      fill: {
                        type: "gradient",
                        gradient: {
                          shadeIntensity: 1,
                          opacityFrom: 0.3,
                          opacityTo: 0.4,
                          stops: [0, 90, 100]
                        }
                      },
                      dataLabels: {
                        enabled: false
                      },
                      stroke: {
                        curve: 'smooth',
                        width: 2
                      },
                      xaxis: {
                        type: 'datetime',
                        categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                      },
                      tooltip: {
                        x: {
                          format: 'dd/MM/yy HH:mm'
                        },
                      }
                    }).render();
                  });
                </script>
                <!-- End Line Chart -->


            </div>
          </div><!-- End Reports -->

        </div>
      </div><!-- End Left side columns -->

      </div>

      <!-- Right side columns -->
      <div class="col-lg-4">

        <!-- Website Traffic -->
        <div class="card">
          <div class="card-body pb-0">
            <h5 class="card-title">TAG Chart <span>| Total</span></h5>

            <div id="trafficChart" style="min-height: 400px;" class="echart"></div>
            <script th:inline="javascript">
              /*<![CDATA[*/
              document.addEventListener("DOMContentLoaded", () => {
                var tagList = /*[[${tagList}]]*/ null;
                var tagData = [];
                var tagNames = [];
                for (var i = 0; i < tagList.length; i++) {
                  var tag = tagList[i].tag;
                  var count = tagList[i].count;
                  tagData.push({value: count, name: tag});
                  tagNames.push(tag);
                }

                echarts.init(document.querySelector("#trafficChart")).setOption({
                  tooltip: {
                    trigger: 'item'
                  },
                  legend: {
                    top: '1%',
                    left: 'center'
                  },
                  series: [{
                    name: 'TAG',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                      show: false,
                      position: 'center'
                    },
                    emphasis: {
                      label: {
                        show: true,
                        fontSize: '10',
                        fontWeight: 'bold'
                      }
                    },
                    labelLine: {
                      show: false
                    },
                    data: tagData
                  }]
                });
              });
              /*]]>*/
            </script>
            <!--            <script>-->
            <!--              document.addEventListener("DOMContentLoaded", () => {-->


            <!--                echarts.init(document.querySelector("#trafficChart")).setOption({-->
            <!--                  tooltip: {-->
            <!--                    trigger: 'item'-->
            <!--                  },-->
            <!--                  legend: {-->
            <!--                    top: '5%',-->
            <!--                    left: 'center',-->
            <!--                    data: tagNames-->
            <!--                  },-->
            <!--                  series: [{-->
            <!--                    name: 'Tag Count',-->
            <!--                    type: 'pie',-->
            <!--                    radius: ['40%', '70%'],-->
            <!--                    avoidLabelOverlap: false,-->
            <!--                    label: {-->
            <!--                      show: false,-->
            <!--                      position: 'center'-->
            <!--                    },-->
            <!--                    emphasis: {-->
            <!--                      label: {-->
            <!--                        show: true,-->
            <!--                        fontSize: '18',-->
            <!--                        fontWeight: 'bold'-->
            <!--                      }-->
            <!--                    },-->
            <!--                    labelLine: {-->
            <!--                      show: false-->
            <!--                    },-->
            <!--                    data: tagData-->
            <!--                  }]-->
            <!--                });-->
            <!--              });-->
            <!--            </script>-->

          </div>
        </div>
        <!-- End Website Traffic -->


      </div>
      <!-- End Right side columns -->
    </div>
  </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->


</body>
</html>