<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title th:text="#{text.form.title}">title</title>
    <link rel="icon" type="image/x-icon" href="../../static/assets/favicon.ico" th:href="@{/assets/favicon.ico}" />

    <!--  커스텀 js  -->
    <script src="../../static/js/postEdit/markdown.js"
            th:src="@{/js/postEdit/markdown.js}"></script>
    <script src="../../static/js/postEdit/tag.js"
            th:src="@{/js/postEdit/tag.js}"></script>
    <script src="../../static/js/postEdit/postEdit.js"
            th:src="@{/js/postEdit/postEdit.js}"></script>

    <script th:if="${access}" th:inline="javascript">alert([[#{access.form}]]); history.back();</script>
    <script th:if="${not_member}" th:inline="javascript">alert([[#{access.form.not_member}]]); history.back();</script>
    <script th:if="${unsociable}" th:inline="javascript">alert([[#{access.form.unsociable}]]); history.back();</script>

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../../static/css/styles.css"
          th:href="@{/css/styles.css}"
          rel="stylesheet" />
    <link href="../../static/css/postEdit/postEdit.css"
          th:href="@{/css/postEdit/postEdit.css}"
          rel="stylesheet">
</head>
<body>


<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="../index.html">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="../index.html">스터디 메인</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="../about.html">About</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="../post.html">Sample Post</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="../contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Header-->
<header class="masthead" style="background-image: url('../../static/assets/img/post-bg.jpg')"
        th:style="${'background-image: url(/assets/img/post-bg.jpg)'}">
    <div class="container position-relative px-1 px-lg-1">
        <div class="post-heading">
            <h1 style="text-align: center">게시글 작성</h1>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="h-auto">
    <div class="container d-flex align-content-center justify-content-center">
        <div class="row gx-3 gx-lg-3 justify-content-center h-auto w-75">
            <!-- marked 의 역할 : 마크다운 해석기 -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.2.7/marked.min.js"></script>
            <!-- 유틸리티 라이브러리 역할 : debounce -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
            <form action="#" th:action id="form" th:object="${boardForm}" method="post">
                <div class="container">

                    <!-- 제목 작성 -->
                    <div th:replace="/form/formFragment :: titleInput"></div>

                    <!-- 태그 작성 -->
                    <div th:replace="/form/formFragment :: tagInput"></div>

                    <!-- 마크다운 작성 -->
                    <div th:replace="/form/formFragment :: markdownInput"></div>

                    <!-- 버튼 작성 -->
                    <div class="mt-5 row">
                        <div class="col">
                            <button class="w-100 btn btn-primary btn-lg" id="submit">제출</button>
                        </div>
                        <div class="col">
                            <button class="w-100 btn btn-secondary btn-lg"
                                    onclick="location.href='items.html'"
                                    th:onclick="|location.href='@{studyMain}'|"
                                    type="button">취소</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</article>
<!-- Footer-->
<footer class="border-top mt-5">
    <div class="container px-1 px-lg-1">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2022</div>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../../static/js/scripts.js"
        th:src="@{/js/scripts.js}"></script>
</body>
</html>
